.header {
    display: flex;
    justify-content: center;
    color: #145af5;
    font-weight: 600;
    margin-bottom: 36px;
}

.container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
    grid-gap: 24px;
}

.load-more-button {
    margin-top: 24px;
}
