@use '../../../../../assets/styles/partials/colors' as c;

.header {
    display: flex;
    justify-content: center;
    color: #145af5;
    font-weight: 600;
    margin-bottom: 36px;
}

.form {
    display: flex;
    flex-direction: column;
    gap: 24px;
    margin: 48px auto 48px auto;
    max-width: 400px;

    .form-item {
        display: flex;
        flex-direction: column;
        gap: 4px;

        .error {
            font-size: 14px;
            color: #920101;
        }
    }
}

.buttons {
    display: flex;
    gap: 8px;
    justify-content: center;
}
