<div class="header heading-l">Create your new post!</div>

<div class="form" [formGroup]="form">
    <div class="form-item">
        <label for="title">Title</label>
        <input type="text" id="title" formControlName="title" />
        @if(form.get('title')?.touched && form.get('title')?.errors){
        <div class="error">This field is required</div>
        }
    </div>

    <div class="form-item">
        <label for="title">Body</label>
        <input type="text" id="title" formControlName="body" />
        @if(form.get('body')?.touched && form.get('body')?.errors){
        <div class="error">This field is required</div>
        }
    </div>
</div>

<div class="buttons">
    <button class="button" (click)="saveForm()">Save</button>

    <button class="button secondary" routerLink="../">Go Back</button>
</div>
