.container {
  display: flex;
  flex-direction: column;
  gap: 48px;
  position: fixed;
  height: 100%;
  width: 300px;
  padding: 24px;
  background-color: white;

  .create-button {
    align-self: center;
  }
}
